In [396]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [529]:
#ЗАПУСКАТЬ ТОЛЬКО В СЛУЧАЕ ПОЛНОГО ПЕРЕЗАПУСКА ПАРСЕРА
array = []

In [545]:
for x in range(3496, 4613):
    x_check = x
    offset = x * 25
    url_list = 'https://www.mobygames.com/browse/games/offset,' + str(offset) +'/so,0a/list-games/'
    response_list = requests.get(url_list)
    page_list = BeautifulSoup(response_list.text).find(id = 'mof_object_list').tbody.find_all('tr')
    arr = []

    for j in range(len(page_list)):
        url = page_list[j].a['href']
        response = requests.get(url)
        page_soup = BeautifulSoup(response.text)

        staff = page_soup.find(class_ = 'sideBarTitle')

        if staff is None:
            continue  
        elif staff.h2.text.strip() == 'Credits':
            continue
        elif staff.h2.span is None:
            devs = staff.h2.text.strip()
            staff = 'NA'
            thanks = 'NA'
        else:
            devs = staff.h2.contents[0].strip()
            thanks = staff.h2.span.string.strip().split(', ')[1]
            staff = staff.h2.span.string.strip().split(', ')[0]
            
        #ЗДЕСЬ ОШИБОЧКА    
        title = re.search('[\W\w]*(?= [(]\d{4}[)])', page_soup.title.string).group(0).split(' for ')
        if len(title) < 3:
            title = title[0]
        else:
            title = ' for '.join(title[:-1])

        coreGameRelease = page_soup.find(id = 'coreGameRelease').find_all('div')
        for i in range(len(coreGameRelease)):
            if coreGameRelease[i].text.strip() == 'Released':
                release = coreGameRelease[i + 1].a.string.strip()
            if coreGameRelease[i].text.strip() == 'Platforms' or coreGameRelease[i].text.strip() == 'Platform':
                platforms =  coreGameRelease[i + 1].text.strip()
        
        arr.append([title, release, platforms, devs, staff, thanks])

    array.extend(arr)

In [546]:
#база АКТИВНО пополняется, поэтому по ходу парсинга могут возникнуть дубликаты
unique = []
for x in array:
    if x not in unique:
        unique.append(x)

,title,release,platform,n_devs,n_staff,n_thanks
0,^_^,"Jan 14, 2012",Windows,Credits (4 people),3 developers,1 thanks
1,[/\||\/],"May 20, 2014",Windows,Credits (3 people),2 developers,1 thanks
2,007 3/4: Disappearance Time,"Sep 24, 2003",Windows,Credits (15 people),NA,NA
3,007: Agent Under Fire,2001,"GameCube, PlayStation 2, Xbox",PlayStation 2 Credits (31 people),NA,NA
4,007: Aqua Base,1982,TI-99/4A,Credits (2 people),NA,NA
...,...,...,...,...,...,...
47406,Zzoom,1983,ZX Spectrum,Credits (4 people),NA,NA
47407,ZZT,1991,DOS,Credits (1 people),NA,NA
47408,Zzzz,1985,"Commodore 64, ZX Spectrum",Commodore 64 Credits (2 people),NA,NA
47409,μLabyrinth,1993,DOS,Credits (4 people),NA,NA
47410,πr²,1987,"Commodore 64, ZX Spectrum",Commodore 64 Credits (3 people),NA,NA

In [596]:
data = pd.DataFrame(unique, columns = ['title', 'release', 'platform', 'n_devs', 'n_staff', 'n_thanks'])
data
# data.to_csv('mg.csv', index = False)

,title,release,platform,n_devs,n_staff,n_thanks
0,^_^,"Jan 14, 2012",Windows,Credits (4 people),3 developers,1 thanks
1,[/\||\/],"May 20, 2014",Windows,Credits (3 people),2 developers,1 thanks
2,007 3/4: Disappearance Time,"Sep 24, 2003",Windows,Credits (15 people),NA,NA
3,007: Agent Under Fire,2001,"GameCube, PlayStation 2, Xbox",PlayStation 2 Credits (31 people),NA,NA
4,007: Aqua Base,1982,TI-99/4A,Credits (2 people),NA,NA
...,...,...,...,...,...,...
47390,Zzoom,1983,ZX Spectrum,Credits (4 people),NA,NA
47391,ZZT,1991,DOS,Credits (1 people),NA,NA
47392,Zzzz,1985,"Commodore 64, ZX Spectrum",Commodore 64 Credits (2 people),NA,NA
47393,μLabyrinth,1993,DOS,Credits (4 people),NA,NA
47394,πr²,1987,"Commodore 64, ZX Spectrum",Commodore 64 Credits (3 people),NA,NA

In [595]:
x_check
# arr

4612